@model Skermstafir.Models.SubtitleModel

@{
    ViewBag.Title = "Stofna þýðingu";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="subtitle-box" id="create-subtitle">
        <div class="box-title make-me-green">
            Stofna þýðingu
        </div>
        <div class="flokkar-view-edit">
			<input type="checkbox" id="genre1" checked="@Model.genreValue[0]" />
            <label for="genre1">Kvikmyndir</label>
			<input type="checkbox" id="genre2" checked="@Model.genreValue[1]" />
            <label for="genre2">Þættir</label>
			<input type="checkbox" id="genre3" checked="@Model.genreValue[2]" />
            <label for="genre3">Barnaefni</label>
			<input type="checkbox" id="genre4" checked="@Model.genreValue[3]" />
            <label for="genre4">Heimildir</label> <br />
			<input type="checkbox" id="genre5" checked="@Model.genreValue[4]" />
            <label for="genre5">Gaman</label>
			<input type="checkbox" id="genre6" checked="@Model.genreValue[5]" />
            <label for="genre6">Spenna</label>
			<input type="checkbox" id="genre7" checked="@Model.genreValue[6]" />
            <label for="genre7">Drama</label>
			<input type="checkbox" id="genre8" checked="@Model.genreValue[7]" />
            <label for="genre8">Ævintýri</label>
        </div>
        <span id="description">
            <label for="description">Lýsing:</label>
            <textarea id="description-text"
                      name="description"
                      cols="65"
                      rows="10"
                      placeholder="Stutt lýsing og söguþráður.">@Model.subtitle.Description</textarea>
        </span>

        <input id="download" type="submit" name="createSubtitle" value="Vista þýðingu" />
        
        <p class="info">
            <label for="title" class="col-md-2">Titill:</label>
            <input type="text" name="title" value="@Model.subtitle.Name" placeholder="t.d. Anchorman 2, The Legend Continues" />
        </p>
        <p class="info">
            <span class="col-md-2">Tungumál:</span>
            <select>
					<option value="Íslenska" selected>Íslenska</option>
					<option value="Enskla">Enska</option>
            </select>
        </p>
        <p class="info">
            <label for="director" class="col-md-2">Leikstjóri:</label>
            <input type="text" name="director" placeholder="t.d. Woody Allen" />
        </p>
        <p class="info">
            <label for="actors" class="col-md-2">Aðalleikarar:</label>
            <input type="text" name="actors" value="@Model.artistsForView" placeholder="Komma aðskilur leikara t.d. Paul Rudd, Philip Seymour Hoffman" />
        </p>
        <p class="info">
            <label for="year" class="col-md-2">Útgáfuár:</label>
            <input type="text" name="year" value="@Model.subtitle.YearCreated" placeholder="t.d. 2014" />
        </p>
        <p class="info">
            <label for="link" class="col-md-2">Hlekkur á myndskeið:</label>
            <input type="text" name="link" placeholder="t.d. af YouTube, Vimeo o.þ.h." />
        </p>
        <div class="info">
            <label for="originalText" class="col-md-2">Texti sem á að þýða:</label>
            <textarea id="original-text" name="originalText" placeholder="Afritaðu textann úr upprunalegu .srt skránni hingað."></textarea>
        </div>
    </div>
}

<!--
<h3>Stofna þýðingu</h3>
<form action="#" method="get">
    <fieldset>
        <div class="Titill">
            <p class="make-me-inline" id="titill-p">Titill myndefnis: </p>
            <input type="text" id="titill-ib" placeholder="t.d. Anchorman 2, The Legend Continues" class="grey-area">
        </div>
        <div class="Flokkar">
            <h5 class="flokkar-header">Flokkar: </h5>
            <input type="checkbox" name="flokkar" value="Kvikmyndir"> Kvikmynd<br>
            <input type="checkbox" name="flokkar" value="Þaettir"> Þáttur<br>
            <input type="checkbox" name="flokkar" value="Barnaefni"> Barnaefni<br>
            <input type="checkbox" name="flokkar" value="Heimildir"> Heimild<br>
            <input type="checkbox" name="flokkar" value="Gaman"> Gaman<br>
            <input type="checkbox" name="flokkar" value="Spenna"> Spenna<br>
            <input type="checkbox" name="flokkar" value="Drama"> Drama<br>
            <input type="checkbox" name="flokkar" value="Aevintyri"> Ævintýri<br>
        </div>
        <div class="Utgafuar">
            <p class="make-me-inline" id="utgafuar-p">Útgáfuár: </p>
            <input type="text" id="utgafuar-ib" placeholder="t.d. 2014" class="grey-area">
        </div>
        <div class="Tungumal">
            <p class="make-me-inline">Tungumál: </p>
            <select class="grey-area">
                <option class="option-text" value="Islenska">Íslenska</option>
                <option class="option-text" value="Enska">Enska</option>
            </select>
        </div>
        <div class="Lysing">
            <p class="make-me-inline" id="lysing-p">Lýsing: </p>
            <textarea class="lysing-text-area" placeholder="Stutt lýsing og söguþráður."></textarea>
        </div>
        <div class="Leikstjori">
            <p class="make-me-inline" id="leikstjori-p">Leikstjóri: </p>
            <input type="text" id="leikstjori-ib" placeholder="t.d. Woody Allen" class="grey-area">
        </div>
        <div class="Adalleikarar">
            <p class="make-me-inline" id="adalleikarar-p">Aðalleikarar: </p>
            <textarea class="adalleikarar-text-area" placeholder="Komma aðskilur leikara t.d. Paul Rudd, Philip Seymour Hoffman, Meg Ryan"></textarea>
        </div>
        <div class="Hlekkur">
            <p class="make-me-inline">Hlekkur á myndskeið: </p>
            <input type="text" id="hlekkur-ib" placeholder="t.d. af YouTube, Vimeo eða annað." class="grey-area">
        </div>
        <div class="Upprunaleg-thyding">
            <p class="make-me-inline">Texti sem á að þýða:</p>
            <textarea id="original-text" placeholder="Afritaðu textann úr upprunalegu .srt skránni hingað."></textarea>
        </div>
        <input type="submit" value="Vista þýðingu" class="vista-beidni" />
    </fieldset>
</form>
    -->