<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=400px, initial-scale=1.0">
    <title>Skermstafir - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
	
	<div class="shared-header">
		@Html.Partial("_LoginPartial")
		<img src="http://placekitten.com/80/80" /><h1>Skermstafir</h1>
		<ul id="shared-menu">
			<li>@Html.ActionLink("Forsíða", "Index", "Home")</li>
			<li>@Html.ActionLink("Þýðingar", "Subtitles", "Home")</li>
			<li>@Html.ActionLink("Beiðnir", "Requests", "Home")</li>
			<li>@Html.ActionLink("Leiðbeiningar", "Instructions", "Home")</li>
		</ul>
	</div>
	
	<!-- Beginning of header
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Skermstafir", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Forsíða", "Index", "Home")</l>
                    <li>@Html.ActionLink("Þýðingar", "About", "Home")</li>
                    <li>@Html.ActionLink("Beiðnir", "Contact", "Home")</li>
					<li>@Html.ActionLink("Leiðbeiningar", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
		-->
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Skermstafir</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
