@model Skermstafir.Models.ManageModelList

<div id="mySubtitles" class="col-md-6 tranreq-list rightSection">
    <p class="box-title">Mínar þýðingar</p>
    <div class="top manage">
        @foreach (var subtitle in Model.subList.modelList)
        {
            <div class="fp-list">
			    <!-- Up button, upvote count, flag-->
			    <div class="first-column">
                    <div class="blueup">▲</div> <div>@subtitle.Votes.Count</div>
				    @if (subtitle.LanguageId == 1)
                    {
                        <img src="http://www.senojflags.com/images/national-flag-icons/Iceland-Flag.png" alt="Flag" />
                    }
                    else
                    {
                        <img src="http://www.senojflags.com/images/national-flag-icons/England-Flag.png" alt="Flag" />
                    }
			    </div>
			    <h4 class="second-column">@Html.ActionLink((string)subtitle.Name, "ShowSubtitle", new { controller = "Subtitle", id = subtitle.IdSubtitle }, "Subtitle")</h4>
			    <p id="year">Útgáfuár: @subtitle.YearCreated</p>
			    <div class="third-column" id="sub @subtitle.IdSubtitle">
                    <button type="button" class="btn btn-default deleteok" onclick="location.href='@Url.Action("DeleteSubtitle", "Subtitle", new { id = subtitle.IdSubtitle })'">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default deletecancel">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default deletebtn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
			    </div>
			    <p id="creator">Stofnandi: @subtitle.Username</p>
		    </div>
        }
    </div>
</div>
<div id="myRequests" class="col-md-6 tranreq-list rightSection">
    <p class="box-title">Mínar beiðnir</p>
    <div class="bottom manage">
        @foreach (var request in Model.reqList.modelList)
        {
            <div class="fp-list">
                <!-- Up button, upvote count, flag-->
                <div class="first-column">
                    <div class="blueup">▲</div> <div>@request.Votes.Count</div>
                    @if (request.LanguageId == 1)
                    {
                        <img src="http://www.senojflags.com/images/national-flag-icons/Iceland-Flag.png" alt="Flag" />
                    }
                    else
                    {
                        <img src="http://www.senojflags.com/images/national-flag-icons/England-Flag.png" alt="Flag" />
                    }
                </div>
                <h4 class="second-column">@Html.ActionLink((string)request.Name, "ShowRequest", new { controller = "Request", id = request.IdRequest }, "Request")</h4>
                <p id="year">Útgáfuár: @request.YearCreated</p>
                <div class="third-column">
                    <button type="button" class="btn btn-default deleteok" onclick="location.href='@Url.Action("DeleteRequest", "Request", new { id = request.IdRequest })'">
                        <span class="glyphicon glyphicon-ok"></span>
                    </button>
                    <button type="button" class="btn btn-default deletecancel">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button type="button" class="btn btn-default deletebtn">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
                <p id="creator">Stofnandi: @request.Username</p>
            </div>
        }
    </div>
</div>