@Html.ActionLink("Opna beiðni síðuna", "Request", "Request")

	<table class="table table-striped">
		<thead>
			<tr>
<<<<<<< HEAD
				<th>Upp</th>
				<th>Titill</th>
				<th>Útgáfuár</th>
				<th>Tungumál</th>
				<th>Stofnandi</th>
				<th>Hala</th>
				<th>Niðurhöl</th>
=======
				<td align ="center"><p id ="upp">▲</p> @Model.modelList[i].votes</td>
				<td>@Model.modelList[i].name</td>
				<td>@Model.modelList[i].yearCreated</td>
				<td>@Model.modelList[i].language</td>
				<td>@Model.modelList[i].user</td>
				<td id="nidur">▼</td>
				<td>@Model.modelList[i].downloads</td>
>>>>>>> faf0e6a89702566bb650e0d537bdd819389e6c37
			</tr>
		</thead>
		<tbody>
			@for (int i = 0; i < Model.modelList.Count; i++)
			{
				<tr>
					<td align="center">▲ @Model.modelList[i].votes</td>
					<td>@Model.modelList[i].name</td>
					<td>@Model.modelList[i].yearCreated</td>
					<td>@Model.modelList[i].language</td>
					<td>@Model.modelList[i].user</td>
					<td>▼</td>
					<td>@Model.modelList[i].downloads</td>
				</tr>
			}
		</tbody>

	</table>
