<table class="table table-striped">
	<thead>
		<tr>
			<th class="up" align="center">Upp</th>
			<th>Titill</th>
			<th class ="min" align="center">Útgáfuár</th>
			<th>Tungumál</th>
			<th>Stofnandi</th>
			<th class="min" align=right">Stofna þýðingu</th>
		</tr>
	</thead>
	<tbody>
		@for (int i = 0; i < Model.modelList.Count; i++)
		{
			<tr>
				<td align="center">▲ @Model.modelList[i].votes</td>
				<td>@Model.modelList[i].name</td>
				<td>@Model.modelList[i].yearCreated</td>
				<td>@Model.modelList[i].Language</td>
				<td>@Model.modelList[i].user</td>
				<td align="right"><input type="button" name="stofna" value="Stofna þýðingu" /></td>
			</tr>
		}
	</tbody>

</table>
