@model Skermstafir.Models.MultipleModelLists
@{
	ViewBag.Title = "Forsíða";
}

@Html.Partial("_Search")

<h3 align="middle">Velkominn á skermstafir.is þar sem fólkið í landinu sameinast í að skiptast á skjátextum. </h3>
<h5 align="middle">Hér getur þú halað niður skjátexta fyrir myndefni sem þú hyggst horfa á í tölvutæku formi, fengið leiðbeiningar um hvernig hægt er að tengja skjátextann við myndefnið, lagt inn beiðni um að tiltekið myndefni sé þýtt og tekið þátt í að þýða myndefni. Allt er ókeypis og frjálst!</h5>

<div id="popular-translations" class="col-md-6 tranreq-list tranList">


	<p class="box-title">Vinsælar þýðingar</p>
	@for (int i = 0; i < 3; i++)
	{
		<div class="fp-list" data-id="">
			<!-- Up button, upvote count, flag-->
			<div class="first-column">
				<div>▲</div> <div>@Model.popularSubtitleList.modelList[i].votes</div>
				<img src="http://www.placekitten.com/16/11" alt="Flag" />
			</div>

			<h4 class="second-column">@Model.popularSubtitleList.modelList[i].subtitle.Name</h4>
			<p id="year">Útgáfuár: @Model.popularSubtitleList.modelList[i].subtitle.YearCreated</p>

			<div class="third-column">
				<input type="button" name="download" value="Niðurhala" />
			</div>
			<p id="creator">Stofnandi: @Model.popularSubtitleList.modelList[i].user.UserName</p>
		</div>
	}
</div>


<div id="popular-requests" class="col-md-6 tranreq-list reqList">
	<p class="box-title">Vinsælar beiðnir</p>
	@for (int i = 0; i < 3; i++)
	{
		<div class="fp-list" data-id="">
			<!-- Up button, upvote count, flag-->
			<div class="first-column">
				<div>▲</div> <div>@Model.newestSubtitleList.modelList[i].votes</div>
				<img src="http://www.placekitten.com/16/11" alt="Flag" />
			</div>

			<h4 class="second-column">@Model.newestSubtitleList.modelList[i].subtitle.Name</h4>
			<p id="year">Útgáfuár: @Model.newestSubtitleList.modelList[i].subtitle.YearCreated</p>

			<div class="third-column">
				<input type="button" name="download" value="Stofna þýðingu" />
			</div>
			<p id="creator">Stofnandi: @Model.newestSubtitleList.modelList[i].user.UserName</p>
		</div>
	}
</div>


<div id="newest-translations" class="col-md-6 tranreq-list tranList">
	<p class="box-title">Nýjustu þýðingar</p>
	@for (int i = 0; i < 3; i++)
	{
		<div class="fp-list" data-id="">
			<!-- Up button, upvote count, flag-->
			<div class="first-column">
				<div>▲</div> <div>@Model.newestSubtitleList.modelList[i].votes</div>
				<img src="http://www.placekitten.com/16/11" alt="Flag" />
			</div>

			<h4 class="second-column">@Model.newestSubtitleList.modelList[i].subtitle.Name</h4>
			<p id="year">Útgáfuár: @Model.newestSubtitleList.modelList[i].subtitle.YearCreated</p>

			<div class="third-column">
				<input type="button" name="download" value="Niðurhala" />
			</div>
			<p id="creator">Stofnandi: @Model.newestSubtitleList.modelList[i].user.UserName</p>
		</div>
	}
</div>


<div id="newest-requests" class="col-md-6 tranreq-list reqList">
	<p class="box-title">Nýjustu beiðnir</p>
	@for (int i = 0; i < 3; i++)
	{
		<div class="fp-list" data-id="">
			<!-- Up button, upvote count, flag-->
			<div class="first-column">
				<div>▲</div> <div>@Model.newestRequestList.modelList[i].votes</div>
				<img src="http://www.placekitten.com/16/11" alt="Flag" />
			</div>

			<h4 class="second-column">@Model.newestRequestList.modelList[i].request.Name</h4>
			<p id="year">Útgáfuár: @Model.newestRequestList.modelList[i].request.YearCreated</p>

			<div class="third-column">
				<input type="button" name="download" value="Stofna þýðingu" />
			</div>
			<p id="creator">Stofnandi: @Model.newestRequestList.modelList[i].request.Username</p>
		</div>
	}
</div>