@model Skermstafir.Models.MultipleModelLists
@{
	ViewBag.Title = "Forsíða";
}

@Html.Partial("_Search")

<h3 align="middle">Velkominn á skermstafir.is þar sem fólkið í landinu sameinast í að skiptast á skjátextum. </h3> 
<h5 align="middle">Hér getur þú halað niður skjátexta fyrir myndefni sem þú hyggst horfa á í tölvutæku formi, fengið leiðbeiningar um hvernig hægt er að tengja skjátextann við myndefnið, lagt inn beiðni um að tiltekið myndefni sé þýtt og tekið þátt í að þýða myndefni. Allt er ókeypis og frjálst!</h5> 

<div id="popular-translations" class="col-md-6 tranreq-list tranList">
	<p class="box-title">Vinsælar þýðingar</p>
	@Html.Partial("_FrontPageTableCellTrans")
</div>
<div id="popular-requests" class="col-md-6 tranreq-list reqList">
	<p class="box-title">Vinsælar beiðnir</p>
	@Html.Partial("_FrontPageTableCellReq")
</div>
<div id="newest-translations" class="col-md-6 tranreq-list tranList">
	<p class="box-title">Nýjustu þýðingar</p>
	@Html.Partial("_FrontPageTableCellTrans")
</div>
<div id="newest-requests" class="col-md-6 tranreq-list reqList">
	<p class="box-title">Nýjustu beiðnir</p>
	@Html.Partial("_FrontPageTableCellReq")
</div>