@model Skermstafir.Models.MultipleModelLists
@{
	ViewBag.Title = "Forsíða";
}

@Html.Partial("_Search")

<h3 align="middle">Velkominn á skermstafir.is þar sem fólkið í landinu sameinast í að skiptast á skjátextum. </h3>  

<div id="popular-translations" class="col-md-6 tranreq-list tranList">
	<p class="box-title">Vinsælar þýðingar</p>
	@Html.Partial("_FrontPageTableCellTrans")
</div>
<div id="popular-requests" class="col-md-6 tranreq-list reqList">
	<p class="box-title">Vinsælar beiðnir</p>
	@Html.Partial("_FrontPageTableCellTrans")
</div>
<div id="newest-translations" class="col-md-6 tranreq-list tranList">
	<p class="box-title">Nýjustu þýðingar</p>
	@Html.Partial("_FrontPageTableCellTrans")
</div>
<div id="newest-requests" class="col-md-6 tranreq-list reqList">
	<p class="box-title">Nýjustu beiðnir</p>
	@Html.Partial("_FrontPageTableCellTrans")
</div>