@using Skermstafir.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Mínar síður";
}

<h2>@ViewBag.Title</h2>



<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div id="afrekSection" class="col-md-3 tranreq-list top manage">
        <p class="box-title">Afrek</p>
        <div class="fp-list">
            <p>Afrek 1</p>
        </div>
        <div class="fp-list">
            <p>Afrek 2</p>
        </div>
        <div class="fp-list">
            <p>Afrek 3</p>
        </div>
    </div>
    <div id="transSection" class="col-md-6 tranreq-list top manage">
        <p class="box-title">Mínar þýðingar</p>
        @for (int i = 0; i < 20; i++)
        {
            <div class="fp-list">
                <p>Þýðing</p>
            </div>
        }
    </div>
</div>
<div class="row">
    <div id="settingSection" class="col-md-3 tranreq-list bottom manage">
        <p class="box-title">Stillingar</p>
        <div class="col-md-12">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }
        </div>
    </div>
    <div id="reqSection" class="col-md-6 tranreq-list bottom manage">
        <p class="box-title">Mínar beiðnir</p>
        <div class="fp-list">
            <p>Beiðni 1</p>
        </div>
        <div class="fp-list">
            <p>Beiðni 2</p>
        </div>
        <div class="fp-list">
            <p>Beiðni 3</p>
        </div>
        <div class="fp-list">
            <p>Beiðni 4</p>
        </div>
    </div>
</div>
<div class="row">
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
