@using Skermstafir.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Mínar síður";
}

<h2>@ViewBag.Title</h2>



<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-3 tranreq-list">
        <p class="box-title">Afrek</p>
    </div>
    <div class="col-md-6 tranreq-list">
        <p class="box-title">Mínar þýðingar</p>
    </div>
</div>
<div class="row">
    <div class="col-md-3 tranreq-list">
        <p class="box-title">Stillingar</p>
        <div class="col-md-12">
            @if (ViewBag.HasLocalPassword)
            {
                @Html.Partial("_ChangePasswordPartial")
            }
            else
            {
                @Html.Partial("_SetPasswordPartial")
            }
        </div>
    </div>
    <div class="col-md-6 tranreq-list">
        <p class="box-title">Mínar beiðnir</p>
    </div>
</div>
<div class="row">
    
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
