@model Skermstafir.Models.RequestModel

@{
    ViewBag.Title = "Stofna beiðni";
}

@using (Html.BeginForm("CreateRequest", "Request", FormMethod.Post, new { id = "postNew" }))
{
    @Html.AntiForgeryToken()
    <div id="create-request" class="subtitle-box">
		<div class="box-title make-me-green">
			Stofna beiðni
		</div>
		<div class="flokkar-view-edit">
            <input type="checkbox" id="genre1" name="genre1" checked="@Model.genreValue[0]" />
			<label for="genre1">Kvikmyndir</label>
            <input type="checkbox" id="genre2" name="genre2" checked="@Model.genreValue[1]" />
			<label for="genre2">Þættir</label>
            <input type="checkbox" id="genre3" name="genre3" checked="@Model.genreValue[2]" />
			<label for="genre3">Barnaefni</label>
            <input type="checkbox" id="genre4" name="genre4" checked="@Model.genreValue[3]" />
			<label for="genre4">Heimildir</label> <br />
            <input type="checkbox" id="genre5" name="genre5" checked="@Model.genreValue[4]" />
			<label for="genre5">Gaman</label>
            <input type="checkbox" id="genre6" name="genre6" checked="@Model.genreValue[5]" />
			<label for="genre6">Spenna</label>
            <input type="checkbox" id="genre7" name="genre7" checked="@Model.genreValue[6]" />
			<label for="genre7">Drama</label>
            <input type="checkbox" id="genre8" name="genre8" checked="@Model.genreValue[7]" />
			<label for="genre8">Ævintýri</label>
		</div>
		<span id="description">
			<label for="description">Lýsing:</label>
			<textarea id="description-text"
					  name="description"
					  cols="65"
					  rows="10"
                      placeholder="Stutt lýsing og söguþráður.">@Model.request.Description</textarea>
			</span>

        <input id="download" class="btn btn-default downloadbtn" type="submit" name="createRequest" value="Vista beiðni" onclick="showTitleError();"/>

        <p class="info">
            <label for="title" class="col-md-2">*Titill:</label>
            <input id="titleBox" type="text" name="title" value="@Model.request.Name" placeholder="t.d. Anchorman 2, The Legend Continues" />
        </p>

        <p id="titleError">
             Þú verður að skrá inn titil myndefnis.
        </p>

		<p class="info">
			<span class="col-md-2">Tungumál:</span>
            <select name="language">
                <option value="Islenska">Íslenska</option>
                <option value="Enska">Enska</option>
            </select>
		</p>

        <p class="info">
            <label for="director" class="col-md-2">Leikstjóri:</label>
            <input type="text" name="director" value="@Model.request.Director" placeholder="t.d. Woody Allen" />
        </p>

		<p class="info">
			<label for="actors" class="col-md-2">Aðalleikarar:</label>
            <input type="text" name="actors" value="@Model.request.Actors" placeholder="Komma aðskilur leikara t.d. Paul Rudd, Philip Seymour Hoffman" />
		</p>

		<p class="info">
			<label for="year" class="col-md-2">Útgáfuár:</label>
            <input type="text" name="year" value="@Model.request.YearCreated" placeholder="t.d. 2014" />
		</p>

		<p class="info">
			<label for="link" class="col-md-2">Hlekkur á myndskeið:</label>
            <input id="bottom-request" type="text" name="link" value="@Model.request.Link" placeholder="t.d. af YouTube, Vimeo o.þ.h." />
		</p>
	</div>
}


